.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}

.content {
  float: right;
  position: null;
}

.div1 {
  background-color: blue;
  height: 80em;
  width: 20em;
  font-color: white;
}

.div1 p{
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 25px;
}

.div2 {
  background-color: red;
  height: 10em;
  width: 10em;
}

.div3 {
  background-color: gold;
  position:  relative;
  height: 15em;
  width: 12em;
}

.padclass {
  padding: 1em;
}

.borderclass {
  border: dashed;
  border-width: 10px;
  border-color: black;
}

.marginclass {
  margin: 1em;
}

