* {
    margin: 0;
    padding: 0;
}

body { }
  #container {
    background: silver;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
  }
    #header {
      background: navy;
      width: 1200px;
      height: 100px;
    }
    #nav {
    background: black;
    width: 1200px;
    height: 50px;
    }
    #content {
      background: gray;
      width: 1200px;
      /* height: 200px; remove this and let .left-side push the length of the content div */
      }
      .left-side {
      background: tan;
      width: 200px;
      height: 400px;
      }
      .right-side {}
      .footer {}

   
